.mails::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}
.mails::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.mails::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 20px;