body{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
}
.block{
    width: 640px;
    position: relative;
    height: auto;
}
.border{
    height: 78px;
    width: 640px;
    background-color: white;
    position: absolute;
    bottom: 0;
}