@import "../sass/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.no-focus {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  pointer-events: none;
}
body {
  font-family: Nunito;
  color: rgba(206,206,206,0.7);
  background-color: rgba(0,0,0,0.9)
}
.chup{
  position: fixed;
  top: -80px;
  left: 350px;
  opacity: 1;
}
::selection {
background: rgba(79,79,79,1);
color: rgba(144,235,230,1);
}
::-moz-selection {
background: rgba(79,79,79,1);
color: rgba(144,235,230,1);
}
.linn{
  position: relative;
  width: 2px;
  height: 500px;
  background-color: white;
  opacity: 0.3;
  margin-top: -200px;
  z-index: 4;
  background-color: white;
  }
.chup img{
  position: relative;
  height: 150px;
  width: 150px;
  margin-left: -74px;
  margin-top: -90px;
  z-index: 5;
}
.search{
  caret-color:auto;
}
.main-block {
  height: 100%;
  width: 100%;
}

.game{
  width: 640px;
  height: 480px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

}
.game canvas{
  width: 100%;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.01);
  width: 100%;
  height: 10%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: rgba(250,250,250,0.1) 2px dashed
}
.nav .logo {
  margin-left: 20px;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px rgba(206,206,206,0.4) solid;
}
.nav .logo img {
  width: 100%;
  height: 100%;
  opacity: 0.5;

}
.nav__title {
  margin-left: 20px;
  font-size: 250%;
  font-weight: bold;
}

.content {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.content .mails {
  min-height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10%;
  padding-bottom: 20px;
  padding-top: 20px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 100%;
  min-width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: auto;
}
.content .left {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: rgba(0, 0, 0, 0.1) 3px solid;
  border-radius: 15px;
  font-size: 180%;
  padding: 5px 20px;
  max-width: 70%;
  overflow: wrap;
  word-wrap: break-word;
}
.content .left_img {
  min-width: 50%;
  min-height: auto;
}
.content .right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: block;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 180%;
  padding: 5px 20px;
  max-width: 70%;
  overflow: wrap;
  word-wrap: break-word;
}
.content .right_img {
  min-width: 50%;
  min-height: auto;
}
.content .text {
  width: 80%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content .text input {
  width: 80%;
  height: 50%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 200%;
  border: rgba(0, 0, 0, 0.2) 3px solid;
  color: rgba(206,206,206,1);
}

img {
  margin-bottom: 10px;
}

video {
  margin: 20px;
  border-radius: 20px;
  border: rgba(0, 0, 0, 0.1) 5px solid;
}

a {
  margin: 0 auto;
  font-size: 200%;
  font-weight: bold;
  width: 50%;
  min-height: 7%;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin-bottom: 20px;
}
a:hover {
  background-color: whitesmoke;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 45%;
}

.clock {
  display: flex;
  position: fixed;
  right: 3%;
  bottom: 5%;
  font-size: 450%;
  font-family: "Dancing Script";
  width: 18%;
  padding-top: 0%;
  padding-left: 0%;
  height: 10%;
  border-radius: 15px;
  border: rgba(0, 0, 0, 0.2) solid;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: 2px rgba(206,206,206,0.7) solid;
}
.clock:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  bottom: 4%;
  cursor: pointer;
}


#clock{
  font-family:Tahoma, sans-serif;
  font-size:2vw;
  font-weight:bold;
  color:rgba(206,206,206,1);
}
.java {
  position: fixed;
  left: 3%;
  top: 12%;
  z-index: -1;
  width: 20%;
  height: 85%;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.tasker{
  transition-duration: 1s;
  position: fixed;
  right: 1.5%;
  top: 12%;
  width: 22%;
  height: 68%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(206,206,206,0.15);
}
.tasker .title{
  margin: 5%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  opacity: 0.5;
  color: rgba(206,206,206,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasks{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: auto;
  overflow-x: clip;

}
.task{
  margin-bottom: 15px;
  background-color: rgba(0,0,0,0.083);
  width: 90%;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 9px;
  max-height: auto;
  transition-duration: 0.3s;
}
.eye{
  width: 25px;
  height: 25px;
  background-color: rgba(206,206,206,0.6);
  border-radius: 100%;
  margin-right: 2px;
  margin-left: 5px;
  transition: 0.15s;
  margin-bottom: 3px;
  rotate: 180deg;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
}
.pup{
  width: 17px;
  height: 17px;
  background-color: rgba(79,79,79,1);
  border-radius: 50%;
  transition: 0.3s;
}
.task .circle {
  margin-top: 12px;
  margin-bottom: 12px;
  min-width: 40px;
  margin-right: 10px;
  min-height: 40px;
  background-color: gray;
  margin-left: 20px;
  border-radius: 50%;
  opacity: 0.2;
  transition-duration: 0.3s;
  border: 3px rgba(0,0,0,0) dashed;
}
.task .circle:hover {
  rotate:90deg;
  cursor: pointer;
  min-width: 42px;
  margin-right: 8px;
  margin-bottom: 11px;
  margin-top: 11px;
  min-height: 42px;
  margin-left: 20px;
  border-radius: 50%;
  opacity: 0.1;
  border: 3px white dashed;
}
.task .circle_desc{
  opacity: 0.5;
  font-size: 25px;
  margin-left:10px;
  margin-right: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 70%;
  word-wrap:break-word;
}
.java img{
  height: 100%;
  opacity: 0.7;
}

.gif {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.palitra {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.015);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.color {
  width: 60px;
  height: 60px;
  margin: 20px;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: rgba(0, 0, 0, 0) 2px solid;
  outline: rgba(0, 0, 0, 0.5) 2px solid;
}
.color:hover {
  border: rgba(0, 0, 0, 0.5) 2px solid;
  outline: rgba(0, 0, 0, 0) 2px solid;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0.7;
}

#myCanvas{
  position: fixed;
  right: 3%;
  top: 13%;
  width: 20%;
  border-radius: 50%;
  fill: black;
}



.ee0a0a {
  background-color: #ee0a0a;
}

.e63c3c {
  background-color: #e63c3c;
}

.e36d6d {
  background-color: #e36d6d;
}

.e0a5a5 {
  background-color: #e0a5a5;
}

.e68700 {
  background-color: #e68700;
}

.e89e35 {
  background-color: #e89e35;
}

.e8bb7c {
  background-color: #e8bb7c;
}

.e8d2b1 {
  background-color: #e8d2b1;
}

.ebe80a {
  background-color: #ebe80a;
}

.e7e567 {
  background-color: #e7e567;
}

.eae992 {
  background-color: #eae992;
}

.ececc2 {
  background-color: #ececc2;
}

.z2fba14 {
  background-color: #2fba14;
}

.z3bee17 {
  background-color: #3bee17;
}

.z78d666 {
  background-color: #78d666;
}

.b5f0a9 {
  background-color: #b5f0a9;
}

.z148780 {
  background-color: #148780;
}

.z1ce1d5 {
  background-color: #1ce1d5;
}

.z90ebe6 {
  background-color: #90ebe6;
}

.baeae7 {
  background-color: #baeae7;
}

.z2e44ed {
  background-color: #2e44ed;
}

.z6374ed {
  background-color: #6374ed;
}

.z919cef {
  background-color: #919cef;
}

.c3c8f2 {
  background-color: #c3c8f2;
}

.ec1fee {
  background-color: #ec1fee;
}

.ea5cec {
  background-color: #ea5cec;
}

.ee98ef {
  background-color: #ee98ef;
}

.e7c1e7 {
  background-color: #e7c1e7;
}

.z000000 {
  background-color: #000000;
}

.z4f4f4f {
  background-color: #4f4f4f;
}

.cecece {
  background-color: #cecece;
}

.ffffff {
  background-color: #ffffff;
}
@media screen and (max-width: 700px) {
  .clock{
    display: none;
  }
  .java {
    display: none;
  }
  .tasker{
    display: none;
  }

  .content {
    width: 100%;
    padding: 0%;
  }
  .content .mails {
    padding: 3% 3% 3% 3%;
  }
  .content .mails .right {
    max-width: 70%;
  }
  .content .mails .left {
    max-width: 70%;
  }

  .nav .logo {
    width: 40px;
    height: 40px;
  }

  .clock {
    display: none;
  }
  #myCanvas{
    display: none;
    fill: rgba(0,0,0,0);
  }

  .palitra {
    min-height: 1100px;
    max-height: 1100px;
  }
}