@import "../sass/reset.css"
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap')
.no-focus
	-moz-user-select: -moz-none
	-o-user-select: none
	-khtml-user-select: none
	-webkit-user-select: none
	user-select: none
	pointer-events: none

body 
	font-family: Nunito
	color: rgba(black, 0.5)
.main-block
	height: 100%
	width: 100%
.nav 
	display: flex
	background-color: rgba(black, 0.01)
	width: 100%
	height: 10%
	justify-content: left
	align-items: center
	border-bottom: rgba(black, 0.1) 2px dashed
	.logo
		margin-left: 20px
		width: 60px
		height: 60px
		object-fit: cover
		object-position: center
		border-radius: 50%
		overflow: hidden
		border: 3px rgba(black, 0.4) solid
		img 
			width: 100%
			height: 100%
			opacity: 0.5
	&__title
		margin-left: 20px
		font-size: 250%
		font-weight: bold
.content
	width: 50%
	background-color: rgba(white, 0.1)
	height: 90%
	margin: 0 auto
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-end
	.mails
		min-height: 90%
		width: 100%
		display: flex
		flex-direction: column
		padding: 0 10%
		padding-bottom: 20px
		padding-top: 20px
		flex-grow: 0
		max-width: 100%
		min-width: 100%
		justify-content: flex-start
		overflow: auto
	.left
		align-self: flex-start
		display: block
		margin-bottom: 20px
		background-color: rgba(white, 0.1)
		border: rgba(black, 0.1) 3px solid
		border-radius: 15px
		font-size: 180%
		padding: 5px 20px
		max-width: 70%
		overflow: wrap
		word-wrap: break-word
		&_img
			min-width: 50%
			min-height: auto
	.right
		align-self: flex-end
		display: block
		margin-bottom: 20px
		background-color: rgba(black, 0.1)
		border-radius: 15px
		font-size: 180%
		padding: 5px 20px
		max-width: 70%
		overflow: wrap
		word-wrap: break-word
		&_img
			min-width: 50%
			min-height: auto
	.text
		width: 80%
		height: 10%
		display: flex
		justify-content: center
		align-items: flex-start
		input
			width: 80%
			height: 50%
			padding: 20px
			background-color: rgba(black, 0.1)
			border-radius: 20px
			font-size: 200%
			border: rgba(black, 0.2) 3px solid
video
	margin: 20px
	border-radius: 20px
	border: rgba(black, 0.1) 5px solid
a
	margin: 0 auto
	font-size: 200%
	font-weight: bold
	width: 50%
	height: 8%
	border-radius: 15px
	display: flex
	justify-content: center
	align-items: center
	background-color: rgba(black, 0.4)
	color: white
	transition-duration: 1s
	margin-bottom: 20px
	&:hover
		transition-duration: 1s
		width: 45%
.clock
	position: fixed
	right: 3%
	top: 20%
	font-size: 450%
	font-family: 'Dancing Script'
	width: 18%
	padding-top: 1%
	padding-left: 2%
	height: 10%
	border-radius: 15px
	border: rgba(black, 0.2) solid
	cursor: pointer
	-moz-user-select: -moz-none
	-o-user-select: none
	-khtml-user-select: none
	-webkit-user-select: none
	user-select: none
	transition-duration: 0.3s
	&:hover
		transition-duration: 0.3s
		top: 22%
.java
	position: fixed
	left: -3%
	top: 10%
	width: 33%
	z-index: -1
	img
		width: 100%
	&__days
		margin-left: 35%
		margin-top: -12%
		font-size: 300%
@media screen and (max-width: 700px)
	.java
		display: none
	.content
		width: 100%
		padding: 0%
		.mails
			padding: 3% 3% 3% 3%
			.right
				max-width: 70%
			.left 
				max-width: 70%
	.nav
		.logo
			width: 40px
			height: 40px
	.clock 
		display: none