@import "../scripts/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
.no-focus {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

body {
  font-family: "Nunito";
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 192, 203, 0.15);
}

.nav {
  height: 100px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 192, 203, 0.7)));
  background: linear-gradient(rgba(255, 192, 203, 0.7));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  font-size: 3rem;
  font-family: "Dancing Script";
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.vk {
  max-width: 40%;
  margin-top: 50px;
  border: 5px rgba(238, 130, 238, 0.2) dashed;
}

.title {
  font-size: 350%;
  font-weight: bold;
  margin-top: 6%;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) and (max-height: 915px) {
  .vk {
    max-width: 100%;
    width: 100%;
    margin-top: 30px;
  }

  .title {
    font-size: 300%;
    font-weight: bold;
    margin-top: 6%;
  }
}