@import "../scripts/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
.no-focus {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

body {
  font-family: "Nunito";
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 192, 203, 0.02);
}

.nav {
  height: 100px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 192, 203, 0.7)));
  background: linear-gradient(rgba(255, 192, 203, 0.7));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  font-size: 3rem;
  font-family: "Dancing Script";
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4%;
  font-size: 250%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 30%;
  max-width: 30%;
  min-height: 100%;
  max-height: 100%;
  margin-top: 50px;
}

.adress {
  width: 100%;
}
.adress_description {
  padding: 10px;
  border: 2px solid rgba(255, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 50%;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.4);
}

input {
  font-size: 60%;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding-left: 15px;
}

.tel {
  margin-top: 20px;
  width: 100%;
}
.tel_description {
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 50%;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.list {
  width: 150%;
  margin-top: 30px;
}
.list__punkt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 30px;
}
.list__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list__item__text_number {
  margin-left: 20px;
}
.list__item__img {
  width: 20%;
  height: 20%;
  margin-right: 30px;
}

.count {
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.count .plus {
  margin-left: 10px;
  width: 35px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.count .minus {
  margin-right: 10px;
  width: 35px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.main-cost .costing {
  margin-left: 30px;
}

.agree {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200%;
  font-size: 50%;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.agree p {
  margin: 0;
}
.agree input {
  width: 4%;
  max-height: 20px;
  cursor: pointer;
}

.end {
  margin-top: 15%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 50px;
}

.string {
  position: fixed;
  opacity: 0;
}

.butt {
  background-color: rgba(255, 192, 203, 0.3);
  width: 300px;
  height: 50px;
  font-size: 70%;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.butt:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0.5;
}

.zak {
  background-color: #dfffdf;
  position: fixed;
  left: auto;
  right: auto;
  top: 30%;
  width: 400px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 170%;
  font-family: "Nunito";
  color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  text-align: center;
  line-height: 30px;
  border: 3px rgba(0, 128, 0, 0.3) solid;
  border-radius: 15px;
  display: none;
}

.butt {
  width: 50%;
}

.str {
  position: fixed;
  left: -500%;
  opacity: 0;
}

@media screen and (max-width: 800px) and (max-height: 915px) {
  .form {
    min-width: 90%;
  }

  .agree {
    max-width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .agree input {
    min-height: 20px;
    min-width: 20px;
    margin-left: 20px;
  }
  .agree p {
    white-space: normal;
    margin-left: 25px;
  }

  .list {
    max-width: 110%;
    margin: 0;
    margin-left: 30px;
    font-size: 60%;
  }
  .list__item {
    height: 100%;
  }
  .list__item img {
    min-width: 60px;
  }
  .list .plus {
    width: 30px;
    height: 30px;
  }
  .list .minus {
    width: 30px;
    height: 30px;
  }

  .main-cost {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 80%;
  }
  .main-cost .itogo {
    margin: 0;
  }
  .main-cost .costing {
    margin-left: 20px;
  }

  .zak {
    width: 300px;
  }
}