@import "../sass/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
img {
  pointer-events: none;
}

body {
  font-family: Nunito;
}

.main-block {
  height: 140%;
  width: 100%;
  overflow-x: clip;
  background: url("/img/sea.jpg") no-repeat fixed;
  background-size: 100%;
}

.header {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.name {
  font-weight: bold;
  color: rgb(28, 225, 213);
}

.circle {
  min-width: 500px;
  min-height: 500px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  margin-left: 30%;
  border-top: rgba(144, 235, 230, 0.5) 5px solid;
  border-right: rgba(28, 225, 213, 0.5) 5px solid;
  border-bottom: rgba(144, 235, 230, 0.5) 5px solid;
  border-left: rgba(186, 234, 231, 0.5) 5px solid;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  overflow: clip;
  position: relative;
}
.circle__div {
  position: absolute;
  bottom: -2%;
  left: -2%;
  width: 120%;
  height: 90%;
  background-color: rgb(144, 235, 230);
  -webkit-animation: wavy 5s infinite;
          animation: wavy 5s infinite;
  overflow: clip;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.circle__div .img {
  -webkit-animation: wavx 5s infinite;
          animation: wavx 5s infinite;
  top: -60%;
  width: 100%;
  height: 270%;
  opacity: 0.8;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}
.nav__right {
  min-height: 71%;
  max-height: 71%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav img {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0.5;
  -webkit-filter: drop-shadow(5px 20px 5px rgb(0, 0, 0));
          filter: drop-shadow(5px 20px 5px rgb(0, 0, 0));
}
.nav__text {
  position: relative;
  z-index: 1;
  width: 50%;
  margin-left: 8%;
  margin-top: 10%;
}
.nav__text__title {
  white-space: nowrap;
  color: rgba(250, 250, 250, 0.5);
  font-size: 3.3vmax;
  font-weight: bold;
  position: relative;
  background: url("/img/waves.jpg");
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 100% 100%;
  -webkit-animation: waves 15s infinite;
          animation: waves 15s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.nav__text__description {
  margin-top: 2.5%;
  font-size: 1.6vmax;
  width: 80%;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.8);
}
.nav__number {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 3%;
  margin-right: 3%;
  color: rgba(250, 250, 250, 0.8);
  font-size: 2.5vmax;
  font-weight: bold;
  cursor: pointer;
  min-width: 60%;
  width: 60%;
  height: 8%;
  border-radius: 15px;
  padding: 5px;
  border: rgba(250, 250, 250, 0) 2px solid;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  text-align: center;
}
.nav__number:hover {
  color: rgba(250, 250, 250, 0.6);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border: rgba(250, 250, 250, 0.8) 2px solid;
  background-color: rgba(255, 255, 255, 0.2);
}

.stone-block {
  margin-top: -20%;
  width: 100%;
}
.stone-block img {
  width: 100%;
}

.second-block {
  height: 100%;
  width: 100%;
  background: url("/img/beach.jpg") no-repeat fixed;
  background-size: 100%;
  margin-top: -20%;
}

.no-focus {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

@-webkit-keyframes waves {
  0% {
    background-position: left 0 top 0;
  }
  100% {
    background-position: left 1590px top 0;
  }
}

@keyframes waves {
  0% {
    background-position: left 0 top 0;
  }
  100% {
    background-position: left 1590px top 0;
  }
}
@-webkit-keyframes wavy {
  0% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  50% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
}
@keyframes wavy {
  0% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  50% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
}
@-webkit-keyframes wavx {
  0% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  50% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  100% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
}
@keyframes wavx {
  0% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  50% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  100% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
}
@media screen and (max-width: 1650px) {
  .circle {
    max-width: 450px;
    min-width: 450px;
    min-height: 450px;
    max-height: 450px;
    margin-left: 25%;
  }
}
@media screen and (max-width: 1429px) {
  .circle {
    max-width: 400px;
    min-width: 400px;
    min-height: 400px;
    max-height: 400px;
    margin-left: 20%;
  }
}
@media screen and (max-width: 1350px) {
  .circle {
    max-width: 350px;
    min-width: 350px;
    min-height: 350px;
    max-height: 350px;
    margin-left: 25%;
  }
}
@media screen and (max-width: 1168px) {
  .circle {
    margin-left: 17%;
  }

  .main-block {
    background-size: 120%;
  }
}