@import "../scripts/reset.css"
@import 'reload.css'
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap')
.no-focus
	-moz-user-select: -moz-none
	-o-user-select: none
	-khtml-user-select: none
	-webkit-user-select: none
	user-select: none
@keyframes stay 
	0%
		transform: none
body
	font-family: 'Nunito'
	color: rgba(black, 0.7)
	background-color: rgba(pink, 0.1)
.nav
	height: 100px
	width: 100%
	background: linear-gradient(rgba(pink, 0.7))
	display: flex
	align-items: center
	justify-content: center
.logo
	font-size: 3rem
	font-family: 'Dancing Script'
	font-weight: bold
	color: rgba(black, 0.6)
.upper-block
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: top
	&__img
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center
		margin: 5%
		border: 10px rgba(pink, 0.15) solid
		animation: stay 0.005s
		&_img
			width: 100%
			height: 100%
			animation: stay 0.3s
	&__text
		display: flex
		flex-direction: column
		justify-content: top 
		align-items: center
		margin-top: 8%
		min-width: 50%
		&__title
			
			font-size: 500%
			font-family: 'Nunito'
		&__description
			margin: 7%
			margin-top: 3%
			font-size: 200%
			font-family: Nunito
			line-height: 150%
			margin-bottom: 0
		&__cost
			text-align: left
			width: 80%
			font-size: 500%
			font-weight: bold


@media screen and (min-width: 1080px)
	.upper-block__img_img
			width: 100%
			height: 100%
			transition: 0.7s
			transform: translate3d(30px, 30px,30px) rotate3d(1,1,1,15deg)
			&:hover
				transition: 0.7s
				transform: none
				cursor: pointer
.colors
	border-radius: 10px
	display: flex
	justify-content: left
	align-items: center
	width: 290px
	transition-duration: 0.2s
	margin-left: auto
	margin-right: auto
	.color
		transition-duration: 0.2s
		&:hover
			opacity: 0.5
		width: 40px
		height: 40px
		margin-left: 20px
		border-radius: 50%
		border: 3px rgba(black, 0.6) solid
		opacity: 0.8
		cursor: pointer
.button
	margin-top: 10%
	position: relative
	width: 200px
	height: 50px
	border-radius: 15px
	cursor: pointer
	display: flex
	justify-content: center 
	align-items: center
	margin-bottom: 20px
	&:hover
		.first-part
			transition-duration: 1s
		.second-part
			transition-duration: 1s
	.first-part
		border-radius: 15px
		width: 100%
		height: 100%
		position: absolute
		top: 0
		display: flex
		justify-content: center 
		align-items: center
		backface-visibility: hidden
		transition-duration: 1s
		background-color: rgba(orange, 0.3)
	.second-part
		border-radius: 15px
		background-color: rgba(#9fff9f, 0.3)
		width: 100%
		height: 100%
		position: absolute
		top: 0
		display: flex
		justify-content: center 
		align-items: center
		backface-visibility: hidden
		transition-duration: 1s
.categories
	width: 80%
	height: 30%
	display: flex
	flex-wrap: wrap
	margin-top: 3%
	.categ
		margin-right: 1%
		width: 180px
		height: 40px
		background-color: rgba(gray, 0.1)
		border-radius: 35px
		display: flex 
		justify-content: center
		align-items: center
		margin-bottom: 4%
		&__img 
			min-height: 100%
			min-width: 24%
			max-height: 100%
			max-width: 24%
			margin-right: 20px
			img 
				min-height: 100%
				min-width: 100%
				max-height: 100%
				max-width: 100%
		&__text
			font-size: 100%
.doubleblock
	display: flex
	flex-direction: column
	
	min-width: 35%
	min-height: 30%
	max-width: 35%
	max-height: 30%
.costs
	width: 60%
	display: flex
	justify-content: space-around
	align-items: center
	p 
		margin-right: 15px
		font-size: 150%
select 
	width: 30%
	height: 100%
	font-size: 180%
	font-family: Nunito
	text-align: center
	font-weight: bold
	cursor: pointer
	background-color: rgba(black, 0)
.lis
	display: none
	flex-direction: row
	width: 100%
	justify-content: center
	align-items: center
	p 
		font-size: 180%

@media screen and (max-width: 500px) and (max-height: 915px)
	.upper-block 
		flex-direction: column
		width: 100%
		&__img 
	.categories
		width: 100%
		margin-top: 10%
		margin-bottom: 10%
		margin-left: 8px
		flex-wrap: wrap
	.categ 
		width: 100%
	.doubleblock
		min-width: 90%
		min-height: 30%
		max-width: 30%
		max-height: 90%
	.costs 
		flex-direction: column
		width: 100%
		p 
			margin-top: 10%
		.list
			margin-top: 10%