@import "../scripts/reset.css"
@import 'reload.css'
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap')
.no-focus
	-moz-user-select: -moz-none
	-o-user-select: none
	-khtml-user-select: none
	-webkit-user-select: none
	user-select: none
body
	font-family: 'Nunito'
	color: rgba(black, 0.7)
.burger
	width: 40px
	height: 30px
	position: fixed
	left: 10%
	top: 1.7%
	display: flex
	justify-content: space-between
	flex-direction: column
	display: none
	&__line
		background-color: gray
		border-radius: 5px
		width: 100%
		height: 20%
		opacity: 0.2
		z-index: 100
.about 
	position: fixed
	right: 3.5%
	top: 2.75%
	font-size: 250%
	color: rgba(#a817a8, 0.3)
	cursor: pointer
	padding: 10px
	transition: 0.3s
	opacity: 1
	font-weight: 600
	&:hover
		transition: 0.3s
		opacity: 0.5
.bascet
	position: fixed
	top: 12%
	right: 2%
	height: 5vmax
	width: 5vmax
	z-index: 110
	&__button
		width: 70%
		min-height: 10%
		margin: 30px 0
		border-radius: 10px
		background-color: pink
		display: flex
		justify-content: center
		align-items: center
		font-size: 130%
		font-weight: bold
		color: rgba(black, 0.5)
		transition: 0.3s
		text-align: center
		&:hover
			transition: 0.3s
			background-color: rgba(pink, 0.7)
			cursor: pointer
			color: rgba(black, 0.2)
	&__list
		position: absolute
		width: 500%
		height: 500px
		background-color: rgba(#dfdfdf, 0.3)
		//right: -40%
		top: 130% 
		right: -750%
		transition: 0.6s
		border-radius:5px
		display: flex 
		flex-direction: column
		align-items: center
		overflow: auto
		&_forbut
			width: 100%
			min-height: 100%
			display: flex 
			flex-direction: column
			align-items: center
			overflow: auto
			position: relative
		&__img
			height: 80%
			width: auto
			object-fit: cover
			object-position: center
			z-index: 110
			img
				position: relative
				z-index: 110
				object-fit: cover
				object-position: center
				width: 100%
				height: 100%
		&__text
			height: 100%
			display: flex
			flex-direction: column
			justify-content: space-between
		&__title
			margin-top: 20%
			font-size: 170%
		&__cost
			margin-bottom: 50%
			font-size: 120%
			color: #a8a8a8
		&__item
			margin-top: 5px
			height: 25%
			width: 95%
			background-color: rgba(white, 1)
			display: flex
			flex-direction: row
			justify-content: space-around
			align-items: center
			border-radius: 5px
			position: relative
	&__circle
		position: relative
		width: auto
		height: 100%
		border-radius: 50%
		border: 3px solid rgba(#da88b0, 0.5)
		:hover
			animation: shaking 0.5s
			cursor: pointer
		img
			width: 100%
			height: 100%
			opacity: 0.5
.nav
	height: 100px
	width: 100%
	background: linear-gradient(rgba(pink, 0.7))
	display: flex
	align-items: center
	justify-content: center
.logo
	font-size: 3rem
	font-family: 'Dancing Script'
	font-weight: bold
	color: rgba(black, 0.6)
.content
	width: 100vw
	height: auto
.left-part
	background-color: rgba(pink, 0.2)
	width: 20vw
	height: 100vh
	padding: 0 5% 0 5%
	display: flex
	justify-content: center
	text-align: center
.categ
	padding-top: 20%
	height: 100%
	&__title
		font-size: 250%
	display: flex
	flex-direction: column
	justify-content: top
	align-items: center
	margin-left: 100px
	margin-bottom: -150%
.price
	margin-top: 10%
	height: 10%
	width: 100%
	&__title
		font-size: 180%
	&__polzunok
		margin-top: 10%
		width: 30%
		position: relative
.slidecontainer
	margin-top: 6%

.slider
	width: 240%
.current-max-price
	position: absolute
	font-size: 120%
	left: 125%
	bottom:-180%
.categories
	height: 100%
	width: 100%
	&_1
		margin-top: 20% 
	&_2 
		margin-top: -30vh
	.cat 
		width: 100%
		height: 100%
		&__title
			margin-bottom: 10%
		&__list
			flex-wrap: wrap
			width: 100%
			height: 80%
			display: flex
			flex-direction: column
			text-align: left
			img
				width: 15%
				height: auto
				position: absolute
				left:0
				top:-7%
			p 
				font-size: 130%
				position: relative
			.checkbox
				border-radius: 5px
			input
				cursor: pointer
				opacity: 0.5
				height: 45%
				width: 45%
.cat-button
	position: fixed
	width: 15%
	height: 5%
	background-color: #fbdfff
	top: 91.3%
	font-size: 150%
	display: flex
	justify-content: center
	align-items: center
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
	color: rgba(#82308f, 0.3)
	font-weight: bold
	border-radius: 15px
	transition: 0.3s
	&:hover
		cursor: pointer
		top: 92%
		opacity: 0.7
.cat-buttom
	opacity: 0
.cat-button_2
	width: 15%
	height: 5%
	background-color: rgba(250, 0, 250, 0.15)
	position: fixed
	top: 92%
	border-radius: 15px
.obl-search
	height: 50px
	width: 80vw
	background-color: rgba( black, 0)
	position: relative
	z-index: 2
	&__container
		width: 400px		
		height: 50px
		margin: auto 0% auto 24%
		position: relative
		z-index: 2

		display: flex
		justify-content: center
		align-items: center
		position: relative
		z-index: 2
		.search
			margin-bottom: -12%
			width: 100%
			background-color: rgba(pink, 0.3)
			height: 60%
			border-radius: 15px
			position: relative
			z-index: 2
			img
				left: 2%
				top: 15%
				width: 20px
				position: absolute
				opacity: 0.3
				position: relative
				z-index: 2
			input 
				padding-left: 40px
				padding-right: 20px
				width: 100%
				height: 100%
				background-color: rgba(0, 0, 0, 0)
				font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
				color: rgba(0, 0, 0, 0.7)
				font-size: 130%
				position: relative
				z-index: 2
				margin-top: -25px
.parts
	display: flex
.products
	padding: 50px 
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr
	grid-template-rows: 1fr 1fr
	grid-auto-rows: 1fr
	gap: 30px
	&__product
		width: auto
		height: 300px
		background-color: rgba(violet, 0.1)
		text-align: center
		font-size: 1.5vmax
		color: rgba(0, 0, 0, 0.3)
		font-weight: bolder
		display: flex
		align-items: center
		justify-content: center
		transition: 0.3s
		position: relative
		z-index: 1
		&:hover
			cursor: pointer
			transition: 0.3s
			transform: scale(1.1)
		&__obl
			background-color: white
			width: 90%
			height: 90%
		&__img
			width: 100%
			height: 60%
			object-fit: cover
			object-position: center
			img
				max-width: 100%
				max-height: 100%
		&__title
			font-size: 1.5vmax
			margin-top: 5%
			color: rgba(pink, 0.6)
		&__description
			margin-top: 5%
			font-size: 1vmax
			color: rgba(0, 0, 0, 0.2)
.products-obl
	background-color: rgba(0, 0, 0, 0.01)
	height: 80vh
	margin: 50px
	border-radius: 15px
	overflow: auto
	margin-bottom: 0px
.lupa
	transition: 1s
@keyframes rotate
	0%
		transform: rotate(0deg)
	99%
		transform: rotate(360deg)
	100%
		transform: rotate(0deg)





@media screen and (max-height: 870px)
	.categories_2
		margin-top: -80%
@media screen and (max-width: 1600px)
	.products
		&__product
			height: 200px
@media screen and (max-width: 1300px)
	.products
		&__product
			height: 180px
@media screen and (max-width: 1160px)
	.products
		grid-template-columns: 1fr 1fr
		width: 100%
		margin-left: -8px
		padding: 25px
		&__product
			height: 250px
			width: 90%
@media screen and (max-height: 716px)
	.price
		margin-top: 5%
		&__title
			margin-bottom: -12%
	.current-max-price
		margin-top: -40%
	.categories_1
		margin-top: 21%
	.categories_2

@media screen and (max-width: 800px) and (max-height: 915px)
	.nav 
		position: fixed
		background-color: pink
		color: #a8a8a8
		z-index: 50
		top: 0
		height: 50px
	.obl-search
		width: 40%
		position: fixed
		top: 105px
		&__container
			width: 200%
			.searching
				background-color: rgba(251, 223, 255, 0.7)
				input
					margin-top: -25px
	.search
		position: fixed
		top: -45px
		background-color: rgb(251, 223, 255)
		z-index: 100
	.right-part
		margin-top: 100px
		width: 100vw
		margin-left: 0
	.products-obl
		width: 100%
		margin-left: 0
		height: auto
		margin-top: 10%
		margin-bottom: 0
	.products
		grid-template-columns: 1fr 1fr
		width: 100%
		&__product
			height: 160px
			width: 110%
	.left-part
		position: fixed
		width: 100vw
		background-color: #ffffff
		z-index: 200
		opacity: 1
		top: 100px
		transition: 1s
		left: -100%
		overflow: auto
	.categ
		width: 100%
		&__title
			margin-top: -37%
			font-size: 300%
	.price
		width: 50%
		margin: 15% auto 0 auto
		.current-max-price
			font-size: 180%
			top: 160%
		&__title
			font-size: 200%
	.cat
		&__list
			width: 200%
			height: 100%
			font-size: 100%
			input 
				padding-right: 0px
		&-button
			width: 80%
			transition: 0.3s
			&_2 
				background-color: rgba(violet, 0.5)
				width: 80%
				transition: 0.3s
	.categories_1
		margin-top: 30%
		margin-bottom: 30%
	.price 
		margin-left: 15%
	.burger
		display: flex
	.products
		&__product
			&__title
				font-size: 2vmax
				color: rgba(pink, 0.6)
			&__description
				font-size: 1.3vmax
				color: rgba(0, 0, 0, 0.2)
	.about 
		color: (black, 0.5)
		position: fixed
		right: 3.5%
		top: 10px
		font-size: 120%
		font-weight: bold
@media screen and (max-width: 1080px) and (max-height: 1920px)
		.obl-search
			width: 35%
		.bascet
			height: 8vmax
			top: 15%
			width: 8vmax
			&__circle
				width: 100%
			&__list
				width: 660%
				&__img
			
@media screen and (max-width: 440px) and (max-height: 916px)
	.obl-search
		margin-top: -6%
	.left-part
		margin-top: -12.8%
	.categ 
		height: 750
	.obl-search
		top: 15%
	.right-part
		margin-top: 20%
	.categories_2
		margin-top: -15vh
	.bascet
		height: 8vmax
		top: 10%
		width: 8vmax
		&__circle
			width: 100%
		&__list
			width: 600%
			&__img
		.about 
				color: (black, 0.5)
@media screen and (max-width: 440px) and (max-height: 754px)
	.obl-search
		margin-top: -1%
	.bascet
		height: 8vmax
		top: 10%
		height: 8vmax
		&__circle
			width: 100%
		&__list
			width: 660%
			&__img
	.about 
				color: rgba(black, 0.5)