//@keyframes breath 
//	0%
//		width: 65%
//	50%
//		width: 67%
//	100%
//		width: 65%

body
	background-color: rgba(yellow, 0.035)
	overflow-x: hidden

@import "../sass/reset.css"

.nav img 
	margin-top: 20px
	margin-left: 20px

.about
	display: flex
	flex-direction: row
	padding-top: 30px
	padding-bottom: 25px
	width: 65%
	border-bottom-right-radius: 650px
	animation: breath 5s infinite
.about .text
	margin-left: 45px
	font-size: 25px
	font-family: Arial
	color: rgba(orange, 0.7)
.about .text .desc
	margin-top: 30px
.about .text .desc li 
	display: flex
	flex-direction: row
	align-items: center
	font-size: 20px
	color: rgba(black, 0.4)
	margin-top: 10px
.about .text .desc li img
	margin-right: 10px
	width: 30px
	height: 30px
.nav
	border-bottom: 3px dashed rgba(orange, 0.5)
	height: 100px
.about
	background-color: rgba(orange, 0.1)
	max-height: 500px
.und_nav
	display: flex
	flex-direction: row
	justify-content: space-between
	width: 100%
.navigation
	background-color: rgba(206,206,206,0.1)
	width: 20%
	height: auto
	border-left: 3px solid rgba(206,206,206,0.3)
	border-bottom: 3px solid rgba(206,206,206,0.3)
	border-bottom-left-radius: 30px
.navigation a
	display: flex
	flex-direction: row
	align-items: center
	padding-left: 70px
	padding-top: 10px
	padding-bottom: 10px
	font-size: 25px
	font-family: Arial
	font-weight: bold
.navigation li img
	width: 40px
	height: 40px
	opacity: 0.5
	margin-right: 30px
.navigation li:hover
	margin-left: 10px
	transition-duration: .5s
.navigation li p 
	opacity: 0.4
	color: black
.news
	width: 100%
	background-color: rgba(0,0,0,0)
	height: auto
	margin-top: 20px
	padding-bottom: 80px
.news li 
	margin-top: 50px
	border: 5px solid rgba(232,158,53,0.3)
	padding: 0px
	border-radius: 30px
	margin-left: 20px
	margin-right: 20px
	background-color: rgba(orange, 0.035)
.news .block
	display: flex 
	flex-direction: row 
	overflow: auto
	color: rgba(black, 0.65)
.news .text
	margin-top: 40px
.news .text .title
	font-size: 50px
	text-align: center
	font-family: 'Roboto', sans-serif
.news .text .description
	font-size: 30px
	font-family: 'Roboto', sans-serif
	padding: 30px
.news .block img
	border-radius: 45px
.res 
	font-size: 25px
	font-family: Arial
	text-align: center
	color: rgba(232,158,53,0.4)
	padding-top: 50px
.resource
	display: flex
	justify-content: space-around
	align-items: center
.res img
		width:	50%
.nav img 
		width: 60px
		height: 60px
.photo
	border-radius: 30px
	border: 5px solid rgba(232,158,53,0.5)
	min-width: 300px
	height: 400px
	overflow: hidden
	margin-left: 50px
	z-index: 1
.resource
	padding-right: 30px
.res h1
	margin-bottom: 50px
.news h1
	font-size: 80px
	font-family: Arial
	text-align: center
	color: rgba(232,158,53,0.5)
.news .block img
	border-radius: 65px
	max-width: 800px
	padding:30px
	opacity: 1
.tri
	position: fixed
	top: 10px
	right: 1000000px
	max-width: 30px
	max-height: 30px
	rotate: -90deg
	opacity: 1
	transition-duration: 0.5s

@media screen and (max-width: 1680px)
	.about
		width: 70%
	.res img
		width:	60%
	.navigation
		width: 25%
	.navigation a 
		padding-left: 30px
@media screen and (max-width: 1177px)
	.res img
		width:	90%
	.res 
		padding-top: 20px
	.res h1
		font-size: 20px
		margin-bottom: 10px
	.resource 
		padding-right:0px
	.und_nav
		display: flex
		flex-direction: column
		position: relative
		margin-top: 50px
	.about
		width: 100%
		border-bottom-right-radius: 0px
		padding-top: 20px
	.navigation
		position: fixed
		top: 50px
		right: -500px
		background-color: #efefef
		width: 250px
		z-index: 5
		transition-duration: 0.5s
	.navigation li p 
		font-size: 17px
	.navigation li img
		width: 30px
		height: 30px
	.nav 
		position: fixed
		top: 0px
		left: 0px
		z-index: 5
		width: 100%
		opacity: 1
		height: 50px
		display: flex
		align-items: center
	.nav img 
		width: 40px
		height: 40px
		margin-top: 0px
		margin-left: 20px
	.photo
		border: 0px
		margin-left: 15px
		min-width: 0px
		min-height: 0px
	.photo img 
		max-width: 80%
		border: 2px solid rgba(232,158,53,0.8)
		z-index: 1
	.about .text
		font-size: 10px
		margin-left: 10px
	.about .text .desc
		margin-top: 15px
	.about .text .desc li p 
		font-size: 14px
		text-align: left
	.about .text .desc li img
		max-width: 20px
		max-height: 20px
	.about .text .desc li
		font-size: 14px
		text-align: center
	.und_nav
		max-height: auto
		min-width: auto
	.about
		max-height: 300px
	.news
		margin-top: 15px
		padding-bottom: 20px
	.news h1
		font-size: 35px
	.news li 
		margin-top: 20px
		margin-left: 5px
		margin-right: 5px
		border: 3px solid rgba(232,158,53,0.3)
	.news li .block
		flex-direction: column
		border-radius: 0px
		align-items: center
		padding-bottom: 10px
	.news .block img
		min-width: 95%
		padding: 0px
		border-radius: 0px
		border-radius: 15px
		margin-top: 10px
	.news .block .text
		margin-top: 15px
	.news .block .text .title
		font-size: 30px
		font-weight: bold
	.news .block .text .description
		padding: 20px
		font-size: 15px
	.news .block img
		max-width: 70%
	.news .card 
		display: flex
		align-items: center
		justify-content: center
	.tri 
		opacity: 0.6
		right: 10px
	.desc ul 
		margin-top: 30px